@{
    ViewData["Title"] = "Sign In";
}

<div class="element-login body-padding">
    <h1>Реєстрація</h1>
    <section class="section-login-error">
        <ul>
            <li>- Username or password is incorrect.</li>
        </ul>
    </section>
    <section class="section-input">
        <label for="username"><i class="fa-solid fa-user"></i> Ім'я користувача</label>
        <input type="text" id="username" name="Username">
        <label for="password"><i class="fa-solid fa-lock"></i> Пароль</label>
        <input type="password" id="password" name="Password">
        <input type="submit" value="Увійти">
    </section>
</div>