@model ALEXforums.Models.User.UserSignUpModel
@{
    ViewData["Title"] = "Sign Up";
    bool saveValues = false;
}

<div class="element-registration body-padding">
    <h1>Реєстрація</h1>
    @if (ViewData["formData"] != null)
    {
        if (ViewData["formData"]!.ToString() != String.Empty)
        {
            saveValues = true;
            string[] errorMsgLine = ViewData["formData"]!.ToString()!.Split(';');
            <section class="section-registration-error">
                <ul>
                    @foreach (string line in errorMsgLine) 
                    {
                        @if (line != String.Empty)
                        {
                            <li>- @line</li>
                        }
                    }
                </ul>
            </section>
        }
        else
        {
            <script>window.location.href = '@Url.Action("User", "SignIn")';</script>
        }
    }

    <form asp-action="SignUp" enctype="multipart/form-data" method="post" class="section-input">
        <label for="username"><i class="fa-solid fa-user"></i> Ім'я користувача (3-12)</label>
        <input type="text" id="user-username" name="user-username" value="@(saveValues ? Model.Username : String.Empty)">
        <label for="password"><i class="fa-solid fa-lock"></i> Пароль (6-12)</label>
        <input type="password" id="user-password" name="user-password">
        <label for="confirmPassword"><i class="fa-solid fa-lock"></i> Підтвердити пароль</label>
        <input type="password" id="user-confirmPassword" name="user-confirmPassword">
        <label for="avatar"><i class="fa-solid fa-image"></i> Аватар (.png, .jpeg) (необов'язково)</label>
        <input type="file" class="custom-file-upload" id="user-avatar" name="user-avatar" accept="image/png, image/jpeg">
        <input type="submit" value="Зареєструватись">
    </form>
</div>