@model ALEXforums.Models.Home.CategoriesViewModel
@using System.Web
@using ALEXforums.Utility.UriOperations

@foreach (var category in Model.Categories)
{
	<a class="topic-button @Html.Raw(Model.ChosenCategory.Name == category.Name ? "btn-is-active" : "")"
	   href="@Url.Action("Category", "Home", new { category = UriOperationsCyrillic.EncodeUri(category.Name) })">
		<i class="@category.FaIcon"></i> @category.Name
	</a>
}

<!--
// System.Web.HttpUtility.UrlEncode(category.Name)
// Uri.EscapeDataString
-->

<!--
<div class="topic-button topic-programming btn-is-active" role="button"><i class="fa-regular fa-newspaper"></i> Новини та оновлення</div>
<div class="topic-button topic-webdev" role="button"><i class="fa-solid fa-window-restore"></i> Веб-розробка</div>
<div class="topic-button topic-ux/ui" role="button"><i class="fa-solid fa-person"></i> UX/UI-дизайн</div>
<div class="topic-button topic-databases/sql" role="button"><i class="fa-solid fa-database"></i> Бази даних та SQL</div>
-->