@model ALEXforums.Models.Home.CategoriesViewModel
@using System.Web
@using ALEXforums.Services.UriOperations
@inject IUriOperations UriOperations

@foreach (var category in Model.Categories)
{
	<a class="topic-button @Html.Raw(Model.ChosenCategory.Name == category.Name ? "btn-is-active" : "")"
	   href="@Url.Action("Category", "Home", new { category = UriOperations.EncodeUri(category.Name) })">
		<i class="@category.FaIcon"></i> @category.Name
	</a>
}