@model ALEXforums.Models.Home.HomeViewModel
@using System.Web
@using ALEXforums.Services.UriOperations
@{
    ViewData["Title"] = "ALEXforums";
}

<div class="element-feed body-padding">
    <section class="topic-container">
        @{
            Html.RenderPartial("_Categories", Model.CategoriesVM);
        }
    </section>
    <section class="forum-feed">
        @{
            Html.RenderPartial("_NewPost", Model.CategoriesVM);
            Html.RenderPartial("_FeedPosts", Model.ForumPostsVM);
        }
    </section>
</div>