@model ALEXforums.Models.ForumPost.ForumPostViewModel
@using System.Web
@using ALEXforums.Services.UriOperations
@{
    ViewData["Title"] = "Post";
}

<div class="element-forumpost body-padding">
    <a asp-action="@{@Model.PostVM.ForumPost.Id.ToString()}-ReturnToHome" class="forum-post-returnlink"><i class="fa-solid fa-arrow-left"></i> </a>
    @{
        Html.RenderPartial("_Post", Model.PostVM);
        @if (Context.User.Identity?.IsAuthenticated == true)
        {
            Html.RenderPartial("_NewCommentForm", Model.PostVM.ForumPost.Id.ToString());
        }
        Html.RenderPartial("_Comments", Model.CommentsVM);
    }
</div>