@{
    ViewData["Title"] = "Post";
}

<div class="element-forumpost body-padding">
    <div class="forum-post">
        <div class="forum-post-container-header">
            <div class="forum-post-category"><i class="fa-regular fa-newspaper"></i> Новини та оновлення</div>
            <div class="forum-post-publishdate">14.07.2023</div>
        </div>
        <div class="forum-post-container-body">
            <a class="forum-post-name" href="#">zomb</a>
            <div class="forum-post-text">zomb</div>
            <div class="forum-post-picture"><img src="/test_pics/forum_img_3.jpg" /></div>
        </div>
        <div class="forum-post-container-footer">
            <div class="forum-post-user">
                <div class="forum-post-useravatar"><img src="/test_pics/avatar_derpe.png" /></div>
                <div class="forum-post-username">derpedcatto</div>
            </div>
            <div class="forum-post-commentcount"><i class="fa-regular fa-comments"></i> 27</div>
        </div>
    </div>

    <div class="forum-post-comment">
        <div class="comment-header">
            <div class="comment-user">
                <div class="comment-useravatar"><img src="/test_pics/avatar_wauw.png" /></div>
                <div class="comment-username">wauw</div>
            </div>
            <div class="comment-date">17.07.2023</div>
        </div>
        <div class="comment-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto animi ea voluptatibus quidem numquam impedit commodi cumque, earum, fuga voluptatum, dicta in! Quidem, id voluptatibus itaque quas sit molestias, sunt vel quam quasi doloremque quod obcaecati praesentium distinctio alias placeat!</div>
    </div>
    <div class="forum-post-comment">
        <div class="comment-header">
            <div class="comment-user">
                <div class="comment-useravatar"><img src="/test_pics/avatar_derpe.png" /></div>
                <div class="comment-username">derpe</div>
            </div>
            <div class="comment-date">17.07.2023</div>
        </div>
        <div class="comment-text">yes</div>
    </div>
    <div class="forum-post-comment">
        <div class="comment-header">
            <div class="comment-user">
                <div class="comment-useravatar"><img src="/test_pics/avatar_wauw.png" /></div>
                <div class="comment-username">wauw</div>
            </div>
            <div class="comment-date">17.07.2023</div>
        </div>
        <div class="comment-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis impedit voluptatibus inventore porro quos architecto error temporibus repellat voluptate nobis magnam enim sequi dignissimos dolores adipisci molestiae consequuntur praesentium, provident, obcaecati quia officia nostrum. Eos modi alias reprehenderit sed cupiditate impedit, ex eveniet sunt amet, eligendi minima vitae, doloribus temporibus nihil aperiam qui quaerat ea incidunt enim! Reiciendis veritatis autem a? Dolore quibusdam quae voluptates nisi suscipit, nobis debitis officiis cum excepturi itaque quaerat dolorum quidem nesciunt pariatur hic iste maiores nam ducimus totam repellat soluta corporis cupiditate inventore obcaecati. Esse inventore fugit harum reiciendis, distinctio dolore sit deserunt quos maiores? Fugiat assumenda vel incidunt consequatur officia nulla? Rerum aliquam eius amet doloribus necessitatibus fuga voluptates earum eos, perferendis excepturi esse temporibus quibusdam quod recusandae. Saepe magnam accusamus quisquam in qui consectetur, obcaecati rerum animi cupiditate repellat? Itaque laboriosam voluptatum hic perspiciatis, debitis quasi officia quae quisquam adipisci quaerat non et earum dolorem perferendis libero accusantium culpa suscipit blanditiis esse tempore, nisi quas consectetur nulla? Soluta asperiores beatae error iusto omnis nostrum autem. Recusandae aperiam accusantium tempora. Soluta consequuntur ratione officia pariatur et corporis ullam, tempore nemo doloribus voluptatibus quis ipsa quae similique vitae molestiae voluptates consectetur inventore alias est.</div>
    </div>
</div>