$c-body-background: #1d1d1f;

$c-card-background: #212023;
$c-card-attachment-background: #1e1e1f;
$c-card-background-hover: #3c3c3f;
$c-card-border: #3d3d40;
$c-card-text: #e2e2e2;
$c-card-text-dark: #a7a7a7;

$c-btn-background: #1e1e1f;

$c-card-error-background: #5d0404;
$c-card-error-border: #9f0000;