/*  Desktop, Tablet, Mobile */
$p-btn-d: 10px;
$p-btn-t: 10px;
$p-btn-m: 6px;

$p-card-d: 30px;
$p-card-t: 25px;
$p-card-m: 20px;

$p-header-d: 10px;
$p-header-t: 10px;
$p-header-m: 6px;

$p-topiccontainer: 10px;
$p-topicbtn-d: 6px;
$p-topicbtn-t: 5px;
$p-topicbtn-m: 3px;

$p-input-d: 10px;
$p-input-t: 10px;
$p-input-m: 5px;